body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    background-color: rgb(4, 15, 73);
    padding: 2.5rem;
    border-radius: 10px;
    border: solid white 2px;

    .content {
      #name {
        text-align: center;
      }
      .image {
        text-align: center;
        img {
          width: 150px;
          border-radius: 50%;
          border: white solid 2px;
        }
      }

      #info {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li {
          margin: 7px 0px;
        }
      }

      .btn {
        text-align: center;
        margin: 2rem 0px 0px;
        #btn {
          padding: 0.5rem 2rem;
          color: rgb(255, 255, 255);
          border: solid rgb(255, 255, 255) 1px;
          background-color: rgb(4, 15, 73);
          transition: all 0.3s ease;
          border-radius: 5px;
        }
        #btn:hover {
          color: rgb(4, 15, 73);
          border: solid rgb(4, 15, 73) 1px;
          background-color: rgb(255, 255, 255);
        }
      }
    }
  }
}
