@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary: #051b63;
  --white: white;
  --black: black;
}

body {
  margin: 0px;
  padding: 0px;
  color: var(--white);
  background-color: var(--black);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    background-color: var(--primary);
    padding: 2.5rem;
    border-radius: 10px;
    border: solid var(--white) 2px;

    .content {
      #name {
        text-align: center;
      }
      .image {
        text-align: center;
        img {
          width: 150px;
          border-radius: 50%;
          border: var(--white) solid 2px;
        }
      }

      #info {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        li {
          margin: 7px 0px;
        }
      }

      .btn {
        text-align: center;
        margin: 2rem 0px 0px;
        #btn {
          padding: 0.5rem 2rem;
          color: var(--white);
          border: solid var(--white) 1px;
          background-color: var(--primary);
          transition: all 0.3s ease;
          border-radius: 5px;
        }
        #btn:hover {
          color: var(--primary);
          border: solid var(--primary) 2px;
          background-color: var(--white);
        }
      }
    }
  }
}
